:root {
    --primary-color: #009FFD;
    --secondary-color: #2A2A72;
    --accent1-color: #FFA400;
    --accent2-color: #232528;
    --accent3-color: #eaf6ff;
    --heading-font: "Roboto Condensed", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--accent1-color); */
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    width: 250px;
    height: auto;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: var(--heading-font);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 20px;
}

/* .navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
} */

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: black;
}

h2 {
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    top: 420px;
    left: 35px;
    width: 900px;
    padding: 10px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: black;
}

.hero article img {
    float: right;
    width: 125px;
}

.history div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history img {
    width: 100%;
    align-items: center;
}

.adventures div {
    display: flex;
    justify-content: space-between;
    
}

.adventures img {
    max-width: 180px;
}

.adventures figcaption {
    text-align: center;
    font-family: var(--heading-font);
}

.contact-heading h1 {
    position: relative;
}

.employee div {
    display: flex;
    justify-content: space-evenly;
}

.employee img {
    width: 250px;
    height: 300px;
}

.employee figcaption {
    text-align: center;
}

form {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
}

input, textarea {
    padding: 0.5em;
    font-size: 1rem;
}

.form-name, .form-email, .message {
    display: grid;
    gap: 5px;
}

.form-name {
    grid-template-columns: 1fr 1fr;
}

textarea {
    height: 100px;
}

button {
    width: 100px;
    margin: 1rem;
    background-color: var(--primary-color);
    color: #000;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--accent1-color);
}

footer img {
    width: 50px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.socialmedia a {
    text-decoration: none;
}